
<!--Main Navigation-->

    <!-- Sidebar -->
    <section>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-blueviolet">
      <div class="position-sticky " style="margin-top: 100px;">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            routerLink="/Dashboard/home"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
          </a>
          <a routerLink="/Dashboard/curd-home" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Add User</span></a
          >
          <a routerLink="/Dashboard/home" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-users fa-fw me-3"></i><span>Display User</span></a
        >
          <a routerLink="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Change Password</span></a
          >
          <a routerLink="/login" class="list-group-item list-group-item-action py-2 ripple"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Logout</span></a
        >
        </div>
      </div>
    </nav>
    </section>

    <!-- Sidebar -->
  
    <!-- Navbar -->
   